spring.application.name=turno.facil.salta

# Configuración del puerto del servidor
server.port=8080

# Configuración de la conexión a la base de datos PostgreSQL
spring.datasource.url=jdbc:postgresql://localhost:5432/tu_base_de_datos
spring.datasource.username=tu_usuario
spring.datasource.password=tu_contraseña
spring.datasource.driver-class-name=org.postgresql.Driver

# Configuración de JPA e Hibernate
# spring.jpa.show-sql=true  # Descomentar para ver las consultas SQL en la consola
spring.jpa.hibernate.ddl-auto=update # 'update' actualiza el esquema al iniciar, 'validate' lo valida, 'create' lo borra y crea de nuevo. Usar con cuidado.
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.format_sql=true # Formatea el SQL en la consola para que sea más legible
